@tailwind base;
@tailwind components;
@tailwind utilities;

.carSwiper .swiper-button-prev,
.carSwiper .swiper-button-next {
  background: rgba(0,0,0,0.55);
  color: white;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
}

/* arrow icon size */
.carSwiper .swiper-button-prev:after,
.carSwiper .swiper-button-next:after {
  font-size: 12px;
  font-weight: bold;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff; /* change if dark */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader img {
  width: 90px;          /* adjust size */
  height: auto;
  border-radius: 50%;   /* makes logo perfectly round */
  animation: spin 1.5s linear infinite;
}

/* rotation animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
